@charset "UTF-8";

/*
Palheta de cores
Login: #262624, #59231E, #F2622E, #F29849, #F2C063
Background: #400101, #730202, #F25C05, #72B6F2, #66A3F2

                                                                 background: -webkit-linear-gradient(0deg, #400101,#730202,#f25c05,#72b6f2,#66a3f2);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(0deg, #400101,#730202,#f25c05,#72b6f2,#66a3f2);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             

*/