@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/*
Palheta de cores
Login: #262624, #59231E, #F2622E, #F29849, #F2C063
Background: #400101, #730202, #F25C05, #72B6F2, #66A3F2
*/

* {
    font-family: "Josefin Sans", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: ;
}