@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

/*
Palheta de cores
Login: #262624, #59231E, #F2622E, #F29849, #F2C063
Background: #400101, #730202, #F25C05, #72B6F2, #66A3F2
*/

:root {
    /* FONTES */
    --font1: "Josefin Sans";
    --font2: "Playwrite AT";

    /* CORES LOGIN */
    --cor1: #262624;
    --cor2: #59231E;
    --cor3: #F2622E;
    --cor4: #F29849;
    --cor5: #F2C063;

    /* CORES BACKGROUND */
    --cor6: #400101;
    --cor7: #730202;
    --cor8: #F25C05;
    --cor9: #72B6F2;
    --cor10: #66A3F2;
}



* {
    font-family: var(--font1), sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor7);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/login.jpg);
    height: 190px;

    background-size: cover; /* Ajusta o tamanho da imagem */
    background-position: center; /* Centraliza a imagem */
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 15px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}